body {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(17, 17, 17);
    background-color: rgb(12, 12, 12);
    font-family: Arial;
    font-weight: 100;
}

#title_container {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-family: Arial;
    font-weight: 100;
    height: 10vh;
    text-shadow: 
      6px 6px blue,
      -6px -6px rgb(255, 0, 0);
      font-family:  audiowide;
      font-size: 7vw;
    animation-name: opening_animation;
    animation-duration: 5s;
    transition: color 2s;
}

@keyframes opening_animation {
    0% {
      text-shadow: 
      6px 6px red,
      -6px -6px blue;
      color: black}
    
      25% {
        text-shadow: 
        6px 6px orange,
        -6px -6px rgb(0, 255, 255);
        color: rgb(81, 0, 0);
      }

      50% {
        text-shadow: 6px 6px yellow,
        -6px -6px rgb(0, 255, 0);
        color: rgb(0, 0, 113);
      }

      75% {
        text-shadow: 6px 6px rgb(0, 255, 234),
        -6px -6px yellow;
        color: rgb(0, 60, 0);
      }

      100% {
        text-shadow: 6px 6px blue,
        -6px -6px red;
        color: black;
      }
}

#title_container:hover {
    color: greenyellow
}

#subtitle_text {
    color: rgb(208, 255, 0);
    font-size: 40px;
    font-family: "Tiktok Sans";
    font-weight: 100;
}